:root {
  --primary-color: #385170;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-3: #4d4d4d;
  --background-color-1: #ececec;
  --secondary-color: #d56046;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

body {
  font-family: "DM Serif Display", serif;
  text-align: center;
}
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.skill-ul {
  -webkit-column-count: 2; /* Chrome/Opera, Safari */
  -moz-column-count: 2; /* Mozilla Firefox */
  column-count: 2;

  /* Properties below are optional: */
  -webkit-column-gap: 25px; /* Chrome/Opera, Safari */
  -moz-column-gap: 25px; /* Mozilla Firefox */
  column-gap: 25px;

  -webkit-column-rule: 1px single red; /* Chrome/Opera, Safari */
  -moz-column-rule: 1px single red; /* Mozilla Firefox */
  column-rule: 1px single red;

  list-style: none;
  text-align: start;
  padding-left: 100px;
}

.skill-ul li::before {
  content: "\25B7"; /* Unicode bullet symbol */
  color: var(--primary-color); /* Bullet color */

  /* Optional tweaks */
  font-weight: bold;
  padding-right: 10px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 120px 20px;
}

.contact-btn {
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  transition: all 200ms ease-in-out;
}

.contact-btn:hover {
  background: var(--secondary-color);
  color: white;
}

.projects-btn {
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 200ms ease-in-out;
}

.projects-btn:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.hero {
  padding-top: 200px;
  background: var(--background-color-1);
  height: 100vh;
}

.about {
  padding: 50px;
  background: var(--background-color-1);
}
.about-header {
  padding: 3%;
  text-align: start;
  margin-left: 50px;
}

.about p {
  padding-left: 100px;
  text-align: start;
}

.about ul {
  -webkit-column-count: 2; /* Chrome/Opera, Safari */
  -moz-column-count: 2; /* Mozilla Firefox */
  column-count: 2;

  /* Properties below are optional: */
  -webkit-column-gap: 25px; /* Chrome/Opera, Safari */
  -moz-column-gap: 25px; /* Mozilla Firefox */
  column-gap: 25px;

  list-style: none;
  text-align: start;
  padding-left: 100px;
}

.about li::before {
  content: "\25B7"; /* Unicode bullet symbol */
  color: var(--primary-color); /* Bullet color */

  /* Optional tweaks */
  font-weight: bold;
  padding-right: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
#personal-photo {
  border-radius: 2%;
  width: 300px;
  box-shadow: var(--background-color-1) 25px 25px 0px -1px,
    var(--secondary-color) 25px 25px;
  border: var(--secondary-color) 1px solid;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

#personal-photo:hover {
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: var(--primary-color) 5px 5px 0px -1px,
    var(--primary-color) 5px 5px;
  border: var(--primary-color) 1px solid;
}
.projects {
  background: var(--background-color-1);
  padding: 50px;
}
.projects-header {
  padding: 3%;
  text-align: start;
  margin-left: 50px;
}

.project-description {
  text-align: start;
  padding-left: 100px;
}

.project-keywords div {
  display: inline;
  margin-right: 20px;
  color: var(--heading-3);
  font-family: "Fira Code", monospace;
}

.project-link {
  color: var(--heading-3);
  text-decoration: none;
}

.contact-container {
  padding: 100px;
  height: 60vh;
}

.contact-type {
  padding-top: 50px;
}

footer a {
  justify-content: center;
  color: var(--primary-color);
  font-size: 15px;
  text-decoration: none;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: justify;
    background-color: rgba(255, 122, 89, 0.5);
  }
  .projects-header {
    padding: 0;
    margin: 0;
  }

  .hero {
    padding: 250px 20px;
  }

  .navigation-links a {
    margin: 10px 20px;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 18px;
    opacity: 0.7;
  }
  .about p,
  .about ul,
  .about-header {
    text-align: center;
    padding: 0;
  }

  .about-header {
    margin-left: 0;
  }
}
